button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	&:hover {
	}

	&:active,
	&:focus {
	}

	&::-moz-focus-inner {
	}

	&[disabled] {
	}
}

.search-form  {
	position: relative;
	z-index: 1;
	input[type="submit"] {
		display: none;
	}
}
.mw_wp_form {
	input[type="submit"] {
		background: $color__background-widget;
		border: 5px  solid $color__border;
		text-transform: uppercase;
		letter-spacing: 1px;
		box-shadow: none;
		text-shadow: none;
		border-radius: 0;
		height: 40px;
		color: $color__post-title;
		&:hover {
		background: $color__link-hover;
		}
	}
}
