input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	font-family: $font__main;
	margin: 0;

	&:focus {
		color: $color__text-input-focus;
	}
}

select, option {
	width: 100%;
	height: 100%;
	text-align: left;
	text-indent: .1rem;
	background-color: $color__background-body;
	border: none;
	box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
	line-height: normal;
	max-width: 100%;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&[disabled] {
		cursor: default;
	}

	&[type="checkbox"],
	&[type="radio"] {
		box-sizing: border-box;
		padding: 0;
	}

	&[type="number"] {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			height: auto;
		}
	}

	&[type="search"] {
		&::-webkit-search-cancel-button,
		&:-webkit-search-decoration {
			-webkit-appearance: none;
		}
	}
}

textarea {
	overflow: auto;
	padding: 3px;
	width: 100%;
}

.search-form {
	input[type="search"] {
		width: 100%;
		height: 40px;
		font-size: 13px;
		border-radius: 0;
	}
}
