table {
	border: 1px solid $color__border;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5rem;
	max-width: 100%;
	&#wp-calendar {
		width: 100%;
		text-align: center;
	}
	th, td {
		padding: .4rem;
		border: 1px solid $color__border;
	}
	th {
		text-align: center;
	}
	td {
		&.has-a {
			padding: 0;

			a {
				display: inline-block;
				padding: .4rem;
			}
		}
		span {
			font-size: .8rem;
			padding: .2rem;
			color: $color__text-warning;
		}
	}
}
