$color__transparent: rgba(0, 0, 0, 0);

// Background
$color__background-body: #fff;
$color__background-pink-light: #fff0f3;
$color__background-pink-dark: #ff557b;
$color__background-pink-medium: #fec8db;
$color__background-pink-medium-light: #ffecf8;
$color__background-gray: #aea79e;
$color__background-green: #50bd57;
$color__background-screen: #f1f1f1;
$color__background-checkbox: #979797;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-step: #b6b6b6;
$color__background-pre: #f0f5e6;
$color__background-ins: #fff9c0;
$color__background-warning: #ff0;
$color__background-submenu: rgba(234, 234, 234, .8);
$color__background-widget: #519194;
$color__background-required: #ff5a00;

// Text
$color__text-main: #000;
$color__text-brown: #764229;
$color__text-before: #507fc8;
$color__text-after: #f23081;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #000cff;
$color__link-visited: purple;
$color__link-hover: #325a76;
$color__text-warning: #f00;
$color__background-header-post: #1C2036;
$color__post-title: #fff;
$color__wiget-text-hover: #97d0d3;

// Border
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-dashed: #a8a8a8;
$color__border-form: #999;
$color__border: #919191;
$color__border-triangle: #f48e00;

// Shadow
$color__shadow-focus: rgba(0, 0, 0, .6);
