$font__regular: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka;
$font__main: $font__regular, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: .7;

// Theme's Font Sizes
$font__size-h2: 1.2rem;
$font__size-h3: 1.4rem;
$nr-fz: .9rem;
