.entry-form-area {
	background: $color__background-body;
	display: inline-block;
	height: -webkit-calc(990px - 4.6rem);
	height: -moz-calc(990px - 4.6rem);
	height: calc(990px - 4.6rem);
	width: 100%;
	border-radius: 9px;
	padding: 5px 10px;
	@include respond-to($to-width: 750px) {
		border-radius: 0;
		background: $color__background-pink-medium-light;
	}
	&.pc {
		display: inline-block;
		@include respond-to($to-width: 750px) {
			display: none;
		}
	}
	&.sp {
		display: none;
		@include respond-to($to-width: 750px) {
			display: inline-block;
			height: auto;
			border-bottom: 6px solid $color__background-pink-dark;
			margin-bottom: 1rem;
		}
		.wpcf7 {
			margin: 0;
			padding: 0;
			.wpcf7-form {
				width: 400%;
				margin: 0;
				position: relative;
			}
			.form_step_sp {
				display: inline-block;
				position: relative;
				top: 10px;
				width: 24.5%;
				left: .5%;
				min-height: 300px;
				margin: 0;
				vertical-align: top;
				&.invisible {
					opacity: 0;
				}
				.form_basic {
					width: 95%;
					margin: 0 auto;
					font-size: 1rem;
					&:first-of-type {
						border-bottom: 1px dotted $color__text-input;
					}
					.basic_title {
						margin: 10px 10px 10px 0;
						font-size: 20px;
						label {
							width: auto;
							margin-right: 15px;
							display: inline-block;
							&[for="entry_phone_sp"] {
								> small {
									position: absolute;
									right: 0;
								}
								> span {
									position: absolute;
									top: 1rem;
								}
							}
						}
						small {
							display: inline;
							float: right;
							padding-top: 10px;
							margin: 0;
							padding: 0;
							font-size: 11px;
							color: $color__text-input;
							line-height: 1;
							margin-top: .8rem;
						}
						span {
							position: relative;
							margin-left: 10px;
							font-size: 12px;
							&::before {
								content: '必須';
								display: inline-block;
								position: relative;
								top: -3px;
								right: 10px;
								width: 30px;
								height: 20px;
								margin-left: 10px;
								line-height: 20px;
								text-align: center;
								font-size: 12px;
								color: $color__background-body;
								background-color: $color__background-required;
								box-sizing: border-box;
							}
						}
					}
					.basic_input {
						display: block;
						width: 100%;
						height: 40px;
						&.form_select {
							&.form_birth_day {
								display: flex;
								em {
									margin: .7rem .2rem 0;
									font-style: normal;
								}
							}
							&.area {
								> span {
									width: 33%;
								}
							}
							span {
								display: inline-block;
								width: 25%;
								height: 100%;
								margin: 0;
								border: solid 1px $color__border;
							}
						}
						&.tel {
							input {
								display: inline-block;
								width: 28%;
							}
							.hiphen {
								padding: 0 .2rem;
							}
						}
						input {
							width: 100%;
							height: 40px;
							margin: 0;
							padding: 0;
							border: solid 1px $color__border;
							box-sizing: border-box;
							font-size: 1rem;
							text-indent: .3rem;
						}
						span {
							position: relative;
						}
						.entry_hurigana_spformError, .entry_name_spformError {
							left: 60% !important;
						}
					}
				}
				.form_step_menu {
					width: 90%;
					margin: 0 auto;
					img {
						display: inline-block;
						width: auto;
						height: auto;
						max-width: 100%;
						float: left;
						cursor: pointer;
						position: relative;
						z-index: 1;
						&.form_back {
							max-width: 20% !important;
							margin-right: .5rem;
						}
						&.form_next {
							max-width: 75% !important;
						}
					}
				}
				.form_qualifications {
					.qualifications_title {
						margin: 10px;
						font-size: 20px;
					}
				}
				.form_message {
					.message {
						margin: 1rem;
						font-size: .9rem;
						.message_neo {
							padding: 10px;
							background-color: $color__background-body;
							border-radius: 10px;
							font-size: .85rem;
						}
					}
				}
			}
		}
	}
	a {
		color: $color__link;
		text-decoration: none;
		font-weight: bold;
	}
	#form_step_list {
		list-style: none;
		display: table;
		padding: 0;
		margin: 1.2rem auto 0;
		li {
			display: inline-table;
			width: 22px;
			text-align: center;
			color: $color__background-body;
			background: $color__background-step;
			border-radius: 50%;
			margin: 0 0.1rem;
			font-size: .9rem;
			padding: .1rem 0 0;
			&.on {
				background: $color__background-pink-dark;
			}
		}
	}
	.form-group {
		display: flex;
		padding: 10px 0;
		border-bottom: 2px dotted $color__border-dashed;
		&.check {
			display: inline-block;
			width: 100%;
			padding-top: 0;
			.label {
				width: 100%;
				margin-bottom: 5px;
				max-width: 100%;
			}
			.inquiry {
				float: none;
			}
		}
		&.textarea {
			display: block;
			.label {
				width: 100%;
				margin-bottom: 10px;
				max-width: 100%;
			}
			.form {
				display: block;
				width: -webkit-calc(100% - 1.5rem);
				width: -moz-calc(100% - 1.5rem);
				width: calc(100% - 1.5rem);
				padding: 0 .5rem;
			}
		}
		.label {
			position: relative;
			display: inline-block;
			width: 180px;
			max-width: 180px;
			margin-top: 2px;
			flex: 1;
			label {
				font-size: 16px;
				display: inline-block;
				width: auto;
				small {
					display: block;
					margin: 0;
					padding: 0;
					font-size: 11px;
					color: #666666;
					line-height: 1;
				}
			}
			.inquiry {
				padding-top: 2px;
				width: 40px;
				height: 23px;
				color: #fff;
				font-size: 12px;
				text-align: center;
				background-color: #ff5a00;
				display: inline-block;
				box-sizing: border-box;
				float: right;
				margin-right: 10px;
				margin-top: 2px;
				@include respond-to($to-width: 750px) {
					float: none;
				}
			}
			.optional {
				padding-top: 2px;
				width: 40px;
				height: 23px;
				color: #fff;
				font-size: 12px;
				text-align: center;
				background-color: #7ba6ff;
				display: inline-block;
				box-sizing: border-box;
			}
		}
		.form {
			display: inline-block;
			flex: 1;
			width: 100%;
			&.check {
				display: inline-block;
				width: 100%;
				padding: 0 .5rem;
				label {
					width: auto;
					margin-right: 20px;
					display: inline-block;
					vertical-align: top;
					@include respond-to($to-width: 750px) {
						display: block;
						width: 96%;
						color: $color__background-body;
						background-color: $color__background-pink-medium-light;
						margin: .3rem 0;
						padding: .2rem .1rem;
						border-radius: 2%;
					}
					input[type="checkbox"] {
						display: none;
						&:checked {
							& ~ .checkbox {
								&::before {
									font-size: 14px;
									line-height: 14px;
									background-color: $color__background-checkbox;
								}
							}
						}
					}
					.checkbox {
						&::before {
							content: '';
							display: inline-block;
							width: 14px;
							height: 14px;
							margin: 0 5px;
							border: solid 1px #979797;
							cursor: pointer;
						}
					}
				}
			}
			span {
				margin: 0;
				font-size: 1.1rem;
				max-width: 100%;
				color: $color__text-main;
				&.hiphen {
					padding: 0 .2rem;
				}
				input {
					width: 100%;
					height: 33px;
					padding: 0 5px;
					border: 1px solid $color__border-form;
					&[type="tel"] {
						height: 33px;
						padding: 0 5px;
						width: 63px;
					}
				}
			}
			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				padding: 0 .1rem;
				height: 37px;
				font-size: 1rem;
				border: 1px solid $color__border-form;
				border-radius: 0;
				width: 100%;
				box-sizing: border-box;
				background: url(./src/images/icon-select-arrow.jpg) center right no-repeat;
				cursor: pointer;
				&#entry_birth_year, &#entry_birth_year_sp {
					width: 75px;
				}
				&#entry_birth_month, &#entry_birth_month_sp, &#entry_birth_day, &#entry_birth_day_sp {
					width: 60px;
				}
				&#entry_region, &#entry_region_sp {
					width: 100px;
				}
			}
			em {
				font-style: normal;
				margin-right: 4px;
				margin-left: 3px;
			}
			textarea {
				border: 1px solid $color__border-form;
				width: 100%;
				height: 100px;
			}
		}
	}
	.entry-information {
		margin: 20px 0;
		padding: 10px 20px;
		background-color: #ffecec;
		border-radius: 7px;
		p {
			font-size: 1rem;
			margin: 0;
			font-weight: bold;
		}
	}
	.message_agree {
		padding: 0 .5rem;
		p {
			margin: .5rem 0 0.5rem;
			font-size: .9rem;
		}
	}
	.submit {
		position: relative;
		@include respond-to($to-width: 750px) {
			width: auto;
			height: auto;
			max-width: 75% !important;
			margin-left: 0;
			display: inline;
			cursor: pointer;
		}
		.tooltip {
			@include respond-to($to-width: 320px) {
				position: absolute;
				width: 250px;
				background: rgba(255, 0, 0, .75);
				color: #fff;
				padding: .3rem;
				list-style: none;
				border-radius: 5px;
				box-shadow: 0 0 5px #000;
				border: 3px solid #fff;
				bottom: 70px;
				font-size: .8rem;
				cursor: initial;
			}
			@include respond-to($from-width: 321px, $to-width: 750px) {
				position: absolute;
				width: 300px;
				background: rgba(255, 0, 0, .75);
				color: #fff;
				padding: .3rem;
				list-style: none;
				border-radius: 5px;
				box-shadow: 0 0 5px #000;
				border: 3px solid #fff;
				bottom: 70px;
				font-size: .8rem;
				cursor: initial;
			}
			&::after {
				content: '';
				position: absolute;
				display: inline-block;
				width: 15px;
				height: 15px;
				border: 10px solid transparent;
				border-top: 15px solid rgba(255, 0, 0, .75);
				bottom: -23px;
				right: 42%;
			}
			li {
				padding: .2rem 0;
			}
		}
		.btn-submit {
			@include respond-to($to-width: 750px) {
				cursor: pointer;
				color: $color__transparent;
				margin: 0;
				border-radius: 3px;
				height: 70px;
				width: 75%;
				background: url(./src/images/sp/submit_sp.png) no-repeat;
				background-size: 100%;
				border: 0;
				display: block;
				outline: none;
				&:focus, &:active {
					outline: none;
				}
			}
		}
	}
	.form-submit {
		border: none;
		.submit {
			display: block;
			margin: 0 auto;
			padding: 0;
			cursor: pointer;
			.btn-submit {
				cursor: pointer;
				width: 404px;
				height: 84px;
				margin: 0 auto 18px;
				display: block;
				border: none;
				text-indent: -9999px;
				outline: none;
				background: url(./src/images/submit.png) no-repeat;
				&:focus, &:active {
					outline: none;
				}
			}
		}
	}
}
