.site {
	overflow: hidden;
	padding: 0;
	background-image: url(./src/images/bg_border.png);
	background-repeat: repeat;
	@include respond-to($to-width: 750px) {
		width: 100%;
		background-color: transparent;
		background-image: url(./src/images/sp/bg_border_sp.png);
		background-repeat: repeat;
		border-radius: 0;
		background-size: 100%;
		padding: 0;
		height: auto;
	}
	.section-title {
		margin: 1rem auto 0;
		@include respond-to($to-width: 750px) {
		  margin: 1rem auto .5rem;
		}
	}
	a {
		border-radius: 3rem;
		outline: none;
		&:focus, &:active {
			outline: none;
		}
		.apply {
			color: $color__background-body;
			background: $color__background-green;
			padding: 1.2rem;
			width: 500px;
			font-size: 2.2rem;
			border-radius: 3rem;
			margin: 2.5rem auto;
			text-align: center;
			letter-spacing: 1rem;
			font-weight: bold;
			box-shadow: 0 -1px 3px $color__shadow-focus;
			transition: all .3s ease-in-out;
			@include respond-to($to-width: 320px) {
				width: 250px;
		    padding: .5rem;
		    font-size: 1.2rem;
		    letter-spacing: .6rem;
		    margin: 1.5rem auto;
			}
			@include respond-to($from-width: 321px, $to-width: 750px) {
				width: 280px;
		    padding: .5rem;
		    font-size: 1.3rem;
		    letter-spacing: .6rem;
		    margin: 1.5rem auto;
			}
			&:hover {
				opacity: .85;
				box-shadow: 1px 1px 3px $color__shadow-focus;
			}
		}
	}
}
