.fifth-view {
	background-repeat: no-repeat;
	display: inline-block;
	padding: .6rem -webkit-calc((100% - 1000px) / 2);
	padding: .6rem -moz-calc((100% - 1000px) / 2);
	padding: .6rem calc((100% - 1000px) / 2);
	width: 100%;
	height: 493px;
	margin-top: -2rem;
	z-index: 1;
	@include respond-to($to-width: 320px) {
		margin-top: 0;
		height: 450px;
		padding: .3rem;
	}
	@include respond-to($from-width: 321px, $to-width: 375px) {
		margin-top: 0;
		height: 540px;
		padding: .3rem;
	}
	@include respond-to($from-width: 376px, $to-width: 414px) {
		margin-top: 0;
		height: 630px;
		padding: .3rem;
	}
	@include respond-to($from-width: 415px, $to-width: 750px) {
		margin-top: 0;
		height: 500px;
		padding: .3rem;
	}
	.content-wrapper {
		display: table;
		margin: 0 auto;
		padding: 2rem;
		@include respond-to($to-width: 750px) {
			padding: 0;
			display: block;
		}
		.left-wrapper {
			display: table-cell;
			vertical-align: middle;
			@include respond-to($to-width: 750px) {
				display: inline-block;
			}
			.photo {
				background: url(./src/images/contactme_img.png) no-repeat;
				width: 402px;
				height: 401px;
				@include respond-to($to-width: 320px) {
					background-size: 100%;
					width: 310px;
					height: 310px;
				}
				@include respond-to($from-width: 321px, $to-width: 374px) {
					background-size: 100%;
					width: 320px;
					height: 320px;
				}
				@include respond-to($from-width: 375px, $to-width: 380px) {
					background-size: 100%;
					width: 370px;
					height: 370px;
				}
				@include respond-to($from-width: 381px, $to-width: 413px) {
					background-size: 100%;
					width: 380px;
					height: 380px;
				}
				@include respond-to($from-width: 414px, $to-width: 450px) {
					background-size: 100%;
					width: 410px;
					height: 410px;
				}
				@include respond-to($from-width: 451px, $to-width: 750px) {
					background-size: 100%;
					width: 450px;
					height: 450px;
				}
			}
		}
		.right-wrapper {
			display: table-cell;
			vertical-align: middle;
			@include respond-to($to-width: 750px) {
				display: inline-block;
				width: 100%;
			}
			.message {
				background: url(./src/images/contactme.png) no-repeat;
				width: 349px;
				height: 265px;
				@include respond-to($to-width: 750px) {
					background: url(./src/images/sp/contactme_sp.png) no-repeat;
					background-size: 100%;
					width: 250px;
					height: 180px;
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
}
