.first-view {
	background: $color__background-pink-light;
	display: inline-block;
	padding: .6rem -webkit-calc((100% - 1000px) / 2);
	padding: .6rem -moz-calc((100% - 1000px) / 2);
	padding: .6rem calc((100% - 1000px) / 2);
	padding-bottom: 2rem;
	@include respond-to($to-width: 750px) {
		padding: 0;
		background-image: url(./src/images/sp/model_sp.png);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}
	.left-wrapper {
		float: left;
		width: 500px;
		@include respond-to($to-width: 750px) {
			@include clearfix;
			width: 100%;
			float: none;
		}
		.key-visual {
			display: inline-block;
			position: relative;
			width: 100%;
			height: 940px;
			@include respond-to($to-width: 320px) {
				height: 400px;
			}
			@include respond-to($to-width: 375px) {
				height: 430px;
			}
			@include respond-to($to-width: 750px) {
				height: 460px;
			}
			.satisfy {
				position: absolute;
				top: 0;
				left: 0;
				width: 196px;
				height: 240px;
				background: url(./src/images/satisfy.png) no-repeat;
				@include respond-to($to-width: 750px) {
					background-size: 90%;
					left: auto;
					right: 0;
					width: 120px;
					height: 132px;
					top: .5rem;
				}
			}
			.model {
				position: absolute;
				top: 5px;
				right: 0;
				width: 380px;
				height: 608px;
				background-image: url(./src/images/model.png);
				background-repeat: no-repeat;
				background-size: 100%;
				@include respond-to($to-width: 320px) {
					background-image: url(./src/images/sp/lead-text_sp.png);
					top: 270px;
					width: 100%;
					height: 145px;
					margin-top: -1.8rem;
				}
				@include respond-to($from-width: 321px, $to-width: 375px) {
					background-image: url(./src/images/sp/lead-text_sp.png);
					top: 270px;
					width: 100%;
					height: 240px;
			    margin-top: -.2rem;
				}
				@include respond-to($from-width: 376px, $to-width: 750px) {
					background-image: url(./src/images/sp/lead-text_sp.png);
					top: 270px;
					width: 100%;
					height: 280px;
			    margin-top: 0;
				}
			}
			.first-message {
				position: absolute;
				top: 540px;
				left: 0;
				width: 490px;
				height: 379px;
				background-image: url(./src/images/first-message.png);
				background-repeat: no-repeat;
				background-size: 100%;
				@include respond-to($to-width: 320px) {
					background-image: url(./src/images/sp/first-message_sp.png);
					width: 51%;
					background-size: 100%;
					top: 144px;
					left: auto;
					right: .6rem;
					height: 103px;
				}
				@include respond-to($from-width: 321px, $to-width: 750px) {
					background-image: url(./src/images/sp/first-message_sp.png);
					width: 51%;
					background-size: 100%;
					top: 144px;
					left: auto;
					right: .6rem;
					height: 133px;
				}
			}
		}
	}
	.right-wrapper {
		float: right;
		width: 500px;
		background-color: $color__background-pink-dark;
		border-radius: 17px;
		height: 1000px;
		display: inline-block;
		padding: .3rem 10px;
		@include respond-to($to-width: 320px) {
			width: 100%;
			background-color: transparent;
			background-image: url(./src/images/sp/bg_border_sp.png);
			background-repeat: repeat;
			border-radius: 0;
			background-size: 100%;
			padding: 2.8rem 0;
			height: auto;
			margin-top: -7rem;
		}
		@include respond-to($from-width: 321px, $to-width: 375px) {
			width: 100%;
			background-color: transparent;
			background-image: url(./src/images/sp/bg_border_sp.png);
			background-repeat: repeat;
			border-radius: 0;
			background-size: 100%;
			padding: 2.8rem 0;
			height: auto;
			margin-top: -4rem;
		}
		@include respond-to($from-width: 376px, $to-width: 750px) {
			width: 100%;
			background-color: transparent;
			background-image: url(./src/images/sp/bg_border_sp.png);
			background-repeat: repeat;
			border-radius: 0;
			background-size: 100%;
			padding: 2.8rem 0;
			height: auto;
			margin-top: -2.6rem;
		}
		.form-title {
			position: relative;
			text-align: center;
			height: 3rem;
			font-size: 2.2rem;
			@include respond-to($to-width: 750px) {
				font-size: 1.05rem;
				color: $color__background-body;
				background: $color__background-pink-dark;
				height: 2rem;
				font-weight: normal;
				line-height: 2;
				margin: 0;
				position: relative;
			}
			&::before {
				content: '';
				position: absolute;
				display: inline-block;
				background: url(./src/images/1minute.png) no-repeat;
				width: 62px;
				height: 62px;
				left: 65px;
				top: -10px;
				@include respond-to($to-width: 750px) {
					background: $color__transparent;
				}
			}
			&::after {
				@include respond-to($to-width: 750px) {
					content: '';
					border: 14px solid $color__transparent;
					border-top: 14px solid $color__background-pink-dark;
					position: absolute;
					bottom: -25px;
					z-index: 41;
					left: 0;
					right: 0;
					display: inline-block;
					width: 10px;
					margin: 0 auto;
				}
			}
		}
	}
}
