.site-footer {
	position: relative;
	background: $color__background-pink-dark;
	color: $color__background-body;
	font-weight: normal;
	text-align: center;
	padding: .5rem;
	aside {
		font-size: .8rem;
		letter-spacing: 2px;
		line-height: 1.2;
		@include respond-to($to-width: 750px) {
			font-size: .6rem;
			letter-spacing: 0;
		}
	}
	small {
		font-size: .65rem;
		letter-spacing: 1px;
		line-height: 1.2;
		@include respond-to($to-width: 750px) {
			font-size: .45rem;
			letter-spacing: 0;
		}
	}
}
