.fourth-view {
	background-image: url(./src/images/bg_colc3.png);
	background-repeat: no-repeat;
	display: inline-block;
	padding: 1rem -webkit-calc((100% - 1000px) / 2);
	padding: 1rem -moz-calc((100% - 1000px) / 2);
	padding: 1rem calc((100% - 1000px) / 2);
	width: 100%;
	height: 400px;
	margin-top: -2rem;
	z-index: 1;
	@include respond-to($to-width: 320px) {
		background-image: url(./src/images/sp/sp_bg_colc3.png);
		background-size: 100%;
		display: inline-block;
		height: 330px;
		padding: .5rem;
		margin-top: .5rem;
	}
	@include respond-to($from-width: 321px, $to-width: 750px) {
		background-image: url(./src/images/sp/sp_bg_colc3.png);
		background-size: 100%;
		display: inline-block;
		height: 400px;
		padding: .5rem;
		margin-top: .5rem;
	}
	.section-title {
		background: url(./src/images/title_usage.png) no-repeat;
		width: 528px;
		height: 81px;
		@include respond-to($to-width: 750px) {
			width: 298px;
			height: 53px;
			background-size: 100%;
			margin: .8rem auto .5rem;
		}
	}
	.flow {
		background-image: url(./src/images/usage.png);
		background-repeat:  no-repeat;
		width: 628px;
		height: 298px;
		display: block;
		margin: 1rem auto 1rem;
		@include respond-to($to-width: 320px) {
			background-image: url(./src/images/sp/step_sp.png);
		    width: 263px;
		    height: 190px;
			background-size: 100%;
			margin: .8rem auto .5rem;
		}
		@include respond-to($from-width: 321px, $to-width: 375px) {
			background-image: url(./src/images/sp/step_sp.png);
		    width: 303px;
		    height: 250px;
			background-size: 100%;
			margin: .8rem auto .5rem;
		}
		@include respond-to($from-width: 376px, $to-width: 750px) {
			background-image: url(./src/images/sp/step_sp.png);
		    width: 343px;
		    height: 280px;
			background-size: 100%;
			margin: .8rem auto .5rem;
		}
	}
}
