.site-header {
	.site-title {
		color: $color__transparent;
		background: url(./src/images/logo.png) no-repeat;
		width: 300px;
		height: auto;
		line-height: 60px;
		@include respond-to($to-width: 750px) {
			background: $color__transparent;
			position: absolute;
		}
	}
}
