.second-view {
	background-image: url(./src/images/bg_colc.png);
	background-repeat: no-repeat;
	display: inline-block;
	padding: .6rem calc((100% - 1000px) / 2);
	width: 100%;
	height: 650px;
	margin-top: -2rem;
	z-index: 1;
	@include respond-to($to-width: 320px) {
		background-image: url(./src/images/sp/sp_bg_colc_320.png);
		background-size: 100%;
		display: inline-block;
		height: 680px;
		padding: .5rem;
		margin-bottom: 20px;
	}
	@include respond-to($from-width: 321px, $to-width: 375px) {
		background-image: url(./src/images/sp/sp_bg_colc_375.png);
		background-size: 100%;
		display: inline-block;
		height: 680px;
		padding: .5rem;
		margin-bottom: 50px;
	}
	@include respond-to($from-width: 376px, $to-width: 750px) {
		background-image: url(./src/images/sp/sp_bg_colc.png);
		background-size: 100%;
		display: inline-block;
		height: 680px;
		padding: .5rem;
		margin-bottom: 50px;
	}
	.section-title {
		background: url(./src/images/title_example.png) no-repeat;
		width: 398px;
		height: 93px;
		@include respond-to($to-width: 750px) {
			width: 218px;
			height: 53px;
			background-size: 100%;
			margin: .8rem auto .5rem;
		}
	}
	.post-wrapper {
		display: inline-block;
		width: 100%;
		.recruit-post {
			width: 50%;
			float: left;
			display: flex;
			padding: 1rem;
			@include respond-to($to-width: 750px) {
				width: 100%;
				padding: 0;
				display: flex;
			}
			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					.post-thumb {
						background-image: url("./src/images/job#{$i}.JPG");
					}
				}
				.post-thumb {
					width: 219px;
					height: 151px;
					margin-right: .4rem;
					background-size: 100%;
					background-repeat: no-repeat;
					@include respond-to($to-width: 750px) {
						width: 150px;
						height: 110px;
					}
				}
			}
			.condition {
				width: -webkit-calc(100% - 219px - .4rem);
				width: -moz-calc(100% - 219px - .4rem);
				width: calc(100% - 219px - .4rem);
				background: $color__background-body;
				border: 1px solid $color__border;
				table-layout: fixed;
				font-size: .9rem;
				margin-bottom: 0;
				@-moz-document url-prefix() {
					background: $color__border;
					border-spacing: 0;
					border-collapse: separate;
				}
				@include respond-to($to-width: 750px) {
					width: -webkit-calc(100% - 150px - .4rem);
					width: -moz-calc(100% - 150px - .4rem);
					width: calc(100% - 150px - .4rem);
					font-size: .55rem;
				}
				tr {
					border: 1px solid $color__border;
				}
				th, td {
					font-weight: normal;
					padding: .1rem .05rem .05rem;
					_::-webkit-full-page-media, _:future, :root .css-selector {
						display: inline-table;
					}
					@include respond-to($to-width: 750px) {
						padding: .1rem 0 .05rem;
					}
				}
				// @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media {
				//     th, td { display: inline-table; }
				// }}
				th {
					background: $color__background-gray;
					color: $color__background-body;
					width: 4rem;
					@include respond-to($to-width: 750px) {
						width: 2.6rem;
						line-height: 1.65;
					}
				}
				td {
					text-indent: .2rem;
					width: -webkit-calc(100% - 4rem);
					width: -moz-calc(100% - 4rem);
					width: calc(100% - 4rem);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					background: $color__background-body;
					@include respond-to($to-width: 750px) {
						width: -webkit-calc(100% - 2.6rem);
						width: -moz-calc(100% - 2.6rem);
						width: calc(100% - 2.6rem);
						box-shadow: 1px 0 0 $color__border;
						font-size: .5rem;
						line-height: 1.8;
					}
				}
			}
		}
	}
	.apply {
		display: none;
		@include respond-to($to-width: 750px) {
			display: block;
		}
	}
}
