.sixth-view {
	background-image: url(./src/images/bg_colc4.png);
	background-repeat: no-repeat;
	display: inline-block;
	padding: 1rem calc((100% - 1000px) / 2);
	width: 100%;
	height: 191px;
	margin-top: -2rem;
	z-index: 1;
	@include respond-to($to-width: 750px) {
		background-image: url(./src/images/sp/sp_bg_colc4.png);
		padding: .5rem;
		background-size: 100%;
		width: 100%;
		height: 100px;
	}
}
