.third-view {
	background-image: url(./src/images/bg_colc2.png);
	background-repeat: no-repeat;
	display: inline-block;
	padding: .6rem calc((100% - 1000px) / 2);
	width: 100%;
	height: 1133px;
	margin-top: -2rem;
	margin-bottom: 30px;
	z-index: 1;
	@include respond-to($to-width: 320px) {
		background-image: url(./src/images/sp/sp_bg_colc2.png);
		background-size: 100%;
		display: inline-block;
		height: 940px;
		padding: .5rem;
		margin-top: 0;
		margin-bottom: 0;
	}
	@include respond-to($from-width: 321px, $to-width: 375px) {
		background-image: url(./src/images/sp/sp_bg_colc2.png);
		background-size: 100%;
		display: inline-block;
		height: 1080px;
		padding: .5rem;
		margin-top: 0;
		margin-bottom: 20px;
	}
	@include respond-to($from-width: 376px, $to-width: 750px) {
		background-image: url(./src/images/sp/sp_bg_colc2_414.png);
		background-size: 100%;
		display: inline-block;
		height: 1140px;
		padding: .5rem;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.section-title {
		background: url(./src/images/title_voice.png) no-repeat;
		width: 402px;
		height: 89px;
		@include respond-to($to-width: 750px) {
			width: 218px;
			height: 53px;
			background-size: 100%;
			margin: .8rem auto .5rem;
		}
	}
	.post-wrapper {
		display: inline-block;
		width: 100%;
		.header {
			background: $color__background-pink-medium;
			padding: .7rem 2rem;
			@include respond-to($to-width: 750px) {
				padding: .5rem;
				font-size: .8rem;
				height: 73px;
				position: relative;
			}
			.name {
				font-size: .9rem;
				font-weight: 700;
				padding-left: .1rem;
				color: rgba($color__text-main, .5);
				@include respond-to($to-width: 750px) {
					padding-left: 70px;
					font-size: .7rem;
				}
			}
			.title {
				color: $color__text-brown;
				margin: 0;
				font-weight: 400;
				font-size: 1.6rem;
				line-height: 1.2;
				@include respond-to($to-width: 750px) {
					padding-left: 70px;
					font-size: 1rem;
				}
			}
		}
		.voice-post {
			width: 100%;
			margin-top: 1.6rem;
			background: $color__background-body;
			box-shadow: 0 0 3px $color__shadow-focus;
			@include respond-to($to-width: 750px) {
				margin-top: 0;
			}
			&:nth-child(2) {
				@include respond-to($to-width: 750px) {
					margin-top: 1rem;
				}
			}
			.body {
				display: flex;
				padding: 1rem;
				color: $color__text-brown;
				@include respond-to($to-width: 750px) {
					position: relative;
					padding: .5rem 1rem;
				}
				.post-thumb {
					background: url(./src/images/person.png) no-repeat;
					width: 175px;
					height: 175px;
					margin-right: 1.4rem;
					@include respond-to($to-width: 750px) {
						position: absolute;
						top: -66px;
						background-size: 100%;
						width: 60px;
						height: 60px;
						left: 0.4rem;
					}
				}
				.content {
					width: calc(100% - 219px - .4rem);
					background: $color__background-body;
					@include respond-to($to-width: 750px) {
						width: 100%;
					}
					p {
						margin-top: 0;
						margin-bottom: .5rem;
						line-height: 1.6;
						font-size: 1rem;
						@include respond-to($to-width: 320px) {
							font-size: .7rem;
							line-height: 1.7;
						}
						@include respond-to($from-width: 321px, $to-width: 375px) {
							font-size: .9rem;
						}
						@include respond-to($from-width: 376px, $to-width: 414px) {
							font-size: .9rem;
							line-height: 1.8;
						}
						@include respond-to($from-width: 415px, $to-width: 750px) {
							font-size: .8rem;
						}
					}
				}
			}
		}
	}
}
